{% extends "base.html" %}
{% block content %}
{% load home_extras %}

<div class="container mx-2 text-center">
    <h1> Города </h1>
</div>
    <hr>
<div class="container mx-4">
    <div class="row">
        <a href="create/" class="btn btn-primary"> Добавить </a>
    </div>
<p>adsf {{  cur_user.id }}</p>
</div>
{% endblock %}