{% extends "base.html" %}
{% block content %}
{% load home_extras %}

<div class="container text-center">
    <h1> Города создание/редактирование </h1>
</div>
    <hr>
<div class="container  ">
    <div class="row">
        <div class="col-4"></div>
        <div class="panel panel-default" style="width: 20rem;">
            <div class="panel-body">
                TEST
            </div>

        </div>
    </div>
</div>
{% endblock %}